<section class="footer" id="footer">
    <div class="container">
        <div id="fa" class="top-phone">
            <a href="https://instagram.com/happyfamily_hmao" title="Instagram" target="_blank">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://vk.com/happyfamily_hmao" title="VKontakte" target="_blank">
                <i class="fab fa-vk"></i>
            </a>
        </div>
        <div id="tel">
            <div class="top-phone">
                <a href="tel:+79226503403" title="Viber" class="a1">8 922 650-34-03</a>
            </div>
        </div>
        <div id="lk">
            <a href="/lk/" title="Войти" class="btn1 "><i class="fas fa-sign-in-alt"></i> Личный
                кабинет</a>
        </div>
        <div class="copy">
            Copyright©2019 Blackw00d ArtStudio
        </div>
    </div>
</section>