{% load static %}
<section class="header" id="top">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <div class="logo">
                    <a href="/"><img src="{% static 'HFhtml/img/logo.png' %}" alt="Happy Family">
                        <ul>
                            <li>Happy Family</li>
                            <li>Surgut</li>
                        </ul>
                    </a>
                </div>
            </div>
            <div class="col-md-8">
                <div class="nav text-center" id="menunav">
                    <ul>
                        <li>
                            <a href="#det1">Детские машинки</a>
                        </li>
                        <li>
                            <a href="#footer">Контакты</a>
                        </li>
                        <li>
                            <a href="#form3" class="popup-with-zoom-anim">Прочие товары</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class=" btns">
                <div class="drop-down">
                    <a class="drop-down-header">{{ city }}</a>
                </div>
                <div>
                    <a href="#form2" class="btn1 popup-with-zoom-anim">Получить скидку</a><br>
                    <a href="#form1" class="btn1 popup-with-zoom-anim">Заказать звонок</a>
                </div>
                <div class="am-tooltip">
                    <div class="am-tooltip-content">
                        <div style="text-align: center; margin-bottom: 15px;">Выберите город:</div>
                        <select class="js-region">
                            {% for city in cities %}
                                <option value="{{ city }}">{{ city }}</option>
                            {% endfor %}
                        </select>
                        <form method="post" action="{% url 'ChangeCity' %}">
                            {% csrf_token %}
                            <input type="hidden" name="city" id="city" value="{{ city }}">
                            <button type="submit" class="button" style="">
                                Да, это мой город
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>