{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Happy Family</title>
    <meta name="description" content="элeктрoмoбили для дeтeй, шикарные элeктрoмoбили в Сургуте">
    <meta name="keywords" content="дeтскиe, элeктрoмoбили, для, дeтeй, рeбeнкa. зaкaзaть, элeктромобиль, Сургут">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <script src="{% static 'HFhtml/js/jquery.min.js' %}"></script>
    <script src="{% static 'HFhtml/js/scripts.min.js' %}"></script>
    <script src="{% static 'HFhtml/js/basket.js' %}"></script>

    <link rel="stylesheet" href="{% static 'HFhtml/css/main.min.css' %}">
    <link rel="stylesheet" href="{% static 'HFhtml/css/basket.css' %}">

    <link rel="icon" href="{% static 'HFhtml/img/icons/logo.ico' %}">
</head>
<body>
{% include 'HFhtml/header.html' %}

<section class="main">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="main-title">
                    <h1>ШИКАРНЫЕ ЭЛЕКТРОМОБИЛИ</h1>
                    <p>У нас Вы сможете найти самый широкий выбор детских электромобилей отличного качества по самым
                        низким ценам в городе.</p>
                </div>
            </div>
            <div class="col-md-6"></div>
        </div>
    </div>
</section>

<section class="detmob" id="det1">
    <div class="container">
        <div class="row price-list">

            {% for car in items %}
                <div class="col-8 col-lg-5 col-md-9 col-sm-8 pr-left">
                    <div class="fotorama" data-fit="cover" data-arrows="true" data-width="100%" data-maxheight="100%"
                         data-autoplay="3000">
                        {% for image in car.item.item_img.all %}
                            <img src="{{ image.image.url }}">
                        {% endfor %}
                    </div>
                    {% if car.sale > 0 %}
                        <div class="sale">- {{ car.sale }} %</div>
                    {% endif %}
                    <div class="row header-data">
                        <div class="col-md-8"><strong class="name-data">{{ car.item.name }}</strong></div>
                        <div class="col-md-4"><span class="year-data">{{ car.item.age }}</span></div>
                    </div>
                    <div class="row">

                        <div class="col-md-7">
                            <strong class="har-data">Рекомендуемый вес ребенка:</strong>
                            <p class="desc-data">
                                до {{ car.item.weight }} кг
                            </p>
                            <strong class="har-data">Технические характеристики:</strong>
                            <pre class="desc-data">{{ car.item.tech }}</pre>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 text-center">
                            {% if car.sale > 0 %}
                                <div class="cena" style="color: #f91155">
                                    {{ car.get_sale_price }} &#x20BD;
                                </div>
                                <div class="cena-so-skidkoi">
                                    {{ car.price }} &#x20BD;
                                </div>
                            {% else %}
                                <div class="cena">
                                    {{ car.price }} &#x20BD;
                                </div>
                            {% endif %}
                        </div>
                        <div class="col-md-6 text-center">
                            {% csrf_token %}
                            <a href="#" class="btn buy" data-name="{{ car.item.name }}" data-price="{{ car.price }}">Купить</a>
                        </div>
                    </div>
                </div>

                {% if not forloop.counter|divisibleby:2 %}
                    <div class="col-md-auto"></div>
                {% endif %}

            {% empty %}
                <div class="row header-data"></div>
            {% endfor %}

        </div>
    </div>
</section>

{% include 'HFhtml/footer.html' %}
{% include 'HFhtml/forms.html' %}
</body>
</html>