.idea
HFadmin/__pycache__/
HFadmin/migrations/__pycache__/
HFhtml/__pycache__/
HFhtml/migrations/__pycache__/
HFlk/__pycache__/
HFlk/migrations/__pycache__/
HappyFamily/__pycache__/
__pycache__/
venv/
.env
.env.prod
/media/items/img/
.gitignore
Debian Server Set Up for Django Instruction.docx