.idea/.gitignore
.idea/HappyFamily.iml
.idea/dataSources.xml
.idea/dictionaries/
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
HFadmin/__pycache__/
HFadmin/migrations/__pycache__/
HFhtml/__pycache__/
HFhtml/migrations/__pycache__/
HFlk/__pycache__/
HFlk/migrations/__pycache__/
HappyFamily/__pycache__/
__pycache__/
venv/
.env
